
.logo {
    width: 100px;
}

.header-panel div, h1 {
    display: inline-block;
}

.header-panel {
    text-align: center;
}

h1 {
    color: rgb(32, 32, 87);
}

.nav ul {
    height: 100%;
    margin: 0 0;
    padding: 0 0;
}

.nav {
    list-style: none;
    text-align: center;
    margin: 0 0;
    padding: 0 0;
}

.nav li {
    display: inline-block;
}

.nav a {
    display: inline-block;
    text-decoration: none;
    color: rgb(32, 32, 87);
    font-weight: bold;
    font-size: 22px;
    padding: 15px;
}

table {
    text-align: center;
    color: rgb(32, 32, 87);
    font-weight: bold;
    font-size: 22px;
}

tbody {
    font-size: 16px;

}

.table-container{
    width: 70%;
}