@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body{
    font-family: Ubuntu, sans-serif;
}

.wrapper{
    padding: 0 1%;
    box-sizing: border-box;
    font-family: Ubuntu, sans-serif;
}
header {
    background: #57b846;
}
.logo {
    width: 100px;
}

.header-panel div, h1 {
    display: inline-block;
}

.header-panel {
    text-align: center;
}

h1 {
    color: rgb(32, 32, 87);
}

.nav ul {
    height: 100%;
    margin: 0 0;
    padding: 0 0;
}

.nav {
    list-style: none;
    text-align: center;
    margin: 0 0;
    padding: 0 0;
}

.nav li {
    display: inline-block;
}

.nav a {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    padding: 15px;
}
header .nav a {
    color: #ffffff;   
}
header .nav li a:hover {
    color: #57b846;
}

table {
    text-align: center;
    color: rgb(32, 32, 87);
    font-weight: bold;
    font-size: 22px;
}

tbody {
    font-size: 16px;

}
.nav-holder {
    max-width: 66%;
}
.table-container {
    max-width: 66%;
}
.table-container th {
    font-size: 14px;
    text-align: center;
}

/* BTNS */
.btn-border-green {
    border: 1px solid #57b846;
}
.btn-border-green:hover {
    background: #57b846;
    color: #ffffff;
}


/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The search field */
#myInput {
    border-box: box-sizing;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

/* The search field when it gets focus/clicked on */
#myInput:focus {outline: 3px solid #ddd;}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.btn-border-grey{
    border: 1px solid #6c757d;
}

.btn-border-grey:hover{
    color:white;
    font-weight: 500;
}


/* DATEPICKER */
.applyBtn {
    display: none;
}
.cancelBtn {
    display: none;
}
.daterangepicker .calendar th, 
.daterangepicker .calendar td {
    font-size: 12px;
}