<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>
    <title>Admin</title>
</head>

<body>
    <header>
        <h1>Welcome to the admin page of SPIDER-ONE</h1>
    </header>
    <main class="inline-block">
        <div id="admin_menu" class="admin_menu inline-block">
            <a href="#" id="add_invoice">Add Invoice</a>
            <a href="#" id="add_subscriber">Add Subscriber</a>
            <a href="#" id="add_service">Add Service</a>
            <a href="#" id="add_service_subscriber">Add Service to Sub.</a>
            <a href="#" id="add_client">Add Client</a>
            <a href="#" id="add_admin">Add Admin</a>
        </div>
        <div class="admin_main inline-block">
            <div id="admin_home">
                <h2 id="admin_start">SOME STATISTICS FOR SUBSCRIBERS LIKE TOTAL UNPAID INVOICES AND TOTAL UNPAID AMOUNT</h2>

                <form id="form_invoice" action="/admin/addInvoice" method="post" style="display:none">
                    <input type="text" placeholder="Subscriber Number">
                    <input type="text" placeholder="Currency">
                    <input type="submit" value="Add Invoice" />
                </form>
                <form id="form_subscriber" action="/admin/addSubcriber" method="post" style="display:none">
                    <input type="text" placeholder="Subscriber Number">
                    <input type="text" placeholder="First Name">
                    <input type="text" placeholder="Last Name">
                    <input type="text" placeholder="PIN">
                    <input type="text" placeholder="Address">
                    <input type="submit" value="Add Subscriber" />
                </form>
                <form id="form_service" action="/admin/addSubscriberService" method="post" style="display:none">
                    <input type="text" placeholder="Subsricber's Number">
                    <input type="text" placeholder="Telecom Service type">
                    <input type="text" placeholder="Subscripion Plan">
                    <input type="text" placeholder="Price">
                    <input type="submit" value="Add Telecom Service" />
                </form>
            </div>


        </div>
    </main>
    <script src="../js/adminPanel.js"></script>
</body>

</html>